{namespace be = TYPO3\CMS\Backend\ViewHelpers}
{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd"
      data-namespace-typo3-fluid="true">
<f:layout name="Backend" />
<f:section name="headline">
    <h1><f:translate key="add.header" /></h1>
</f:section>
<f:section name="content">
    <div class="container-fuid">
        <div class="row">
            <div class="col-xs-6">
                <f:form action="addKey" method="post">
                    <p>
                        <label for="newkey"><f:translate key="add.newkey" /></label>
                        <f:form.textarea cols="90" rows="35" name="newkey" id="newkey" />
                    </p>
                    <p>
                        <f:form.submit value="{f:translate(key:'add.submit')}" />
                    </p>
                </f:form>
            </div>
        </div>
    </div>
</f:section>
</html>