{namespace be = TYPO3\CMS\Backend\ViewHelpers}
{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd"
      data-namespace-typo3-fluid="true">
<f:layout name="Backend" />
<f:section name="headline">
    <h1><f:translate key="index.header" /></h1>
</f:section>
<f:section name="content">
    <div class="container-fuid">
        <div class="row">
            <div class="col-xs-6">
                <f:form action="index" method="post">
                    <f:form.textfield name="search" />
                    <f:form.submit value="search" />
                </f:form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table class="table table-striped table-hover">
                    <f:for each="{keys}" as="key">
                        <f:render partial="Keys/Single" arguments="{_all}" />
                    </f:for>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
            </div>
        </div>
    </div>
</f:section>
</html>