{namespace be = TYPO3\CMS\Backend\ViewHelpers}
{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd"
      data-namespace-typo3-fluid="true">
<tr>
    <td>{key.uids.0.uid}</td>
    <td>{key.uids.0.email}</td>
    <td><f:format.date date="{key.subkeys.0.timestamp}" format="%x"/></td>
    <td>
        <f:if condition="{key.subkeys.0.expires}">
            <f:then><f:format.date date="{key.subkeys.0.expires}" format="%x"/></f:then>
            <f:else><f:translate key="index.expire.never" /></f:else>
        </f:if>
    </td>
    <td>
        <f:if condition="{key.can_encrypt}">
            <f:then>
                <f:translate key="index.yes" />
            </f:then>
            <f:else>
                <f:translate key="index.no" />
            </f:else>
        </f:if>
    </td>
    <td>
        <f:if condition="{key.can_sign}">
            <f:then>
                <f:translate key="index.yes" />
            </f:then>
            <f:else>
                <f:translate key="index.no" />
            </f:else>
        </f:if></td>
    <td>
        <f:if condition="{key.expired}"><f:translate key="index.expired" /></f:if>
        <f:if condition="{key.revoked}"><f:translate key="index.revoked" /></f:if>
        <f:if condition="{key.disabled}"><f:translate key="index.disabled" /></f:if>
        <f:if condition="{key.is_secret}"><f:translate key="index.secret" /></f:if>
    </td>
    <td>
        <f:link.action action="delete" arguments="{key: key.uids.0.uid}" class="btn btn-default t3js-record-delete" data="{message:'{f:translate(key:\'delete.message\')}'}">
            <i class="fa fa-trash"></i>
        </f:link.action>
    </td>
</tr>
</html>
